<h3>{{Titulo}} <small>{{TituloAccionAL[AccionAL]}}</small></h3>
<div>
  <div class= "container">
  <button type="button" class="btn btn-primary" (click)="Alta()" *ngIf="AccionABM == 'L'">
            <span class="fas fa-plus"> </span> 
            Agregar
  </button>
  </div>
  <br>
  <div class= "container">
  <table class="table table-bordered table-striped" *ngIf="AccionAL == 'L'">
    <thead>
      <tr>
        <th class="text-center">ContratoDescripcion</th>
        <th class="text-center">ContratoImporte</th>
        <th class="text-center">IdContrato</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of Items">
        <td>{{item.ContratoDescripcion | uppercase}}</td>
        <td>{{item.ContratoImporte}}</td>
        <td>{{item.IdContrato}}</td>
      </tr>
    </tbody>
  </table>
</div>